* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #313131;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

a,
button,
i,
.menu-item,
.menu-item i {
    transition: color 0.3s;
}

a:hover,
button:hover,
i:hover {
    color: #52a59f;
}

body {
    min-height: 100vh;
    font-size: 14px;
    background: linear-gradient(135deg, #76c96e, #51a4a1);
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*----------------------- Menu ---------------------*/

.menu {
    background-color: #fff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    z-index: 2;
}

.menu-item {
    width: 75px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.menu-item i {
    font-size: 1.2em;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-item.active,
.menu-item:hover,
.menu-item.active i,
.menu-item i:hover {
    color: #52a59f;
}


/*----------------------- Profile ---------------------*/

.img-container {
    position: relative;
    background: url(./img/IMG_3332.jpeg) no-repeat;
    background-size: cover;
    min-height: 350px;
    background-position: 0 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: min-height 2s;
}

.profile {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 70px;
    max-height: 90vh;
    min-width: 350px;
    transition: min-width 1s;
    border-radius: 4px;
    margin-left: 12px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.15);
    transition: min-height 2s;
}

.profile-body {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.name {
    margin: 12px auto 12px;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.role {
    color: #51a451;
    margin-bottom: 20px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.socials a {
    text-decoration: none;
    margin: 8px;
    font-size: 1.2rem;
}

.actions {
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
}

.profile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 161, 161, 0.4);
    transform: translate(-20px, -20px);
    border-radius: 4px;
}


/*----------------------- Main ---------------------*/

.main {
    max-height: 80vh;
    overflow-y: auto;
    background-color: #fff;
    align-self: center;
    border-radius: 4px;
    transition: max-height 1s;
}

.main * {
    color: #656565;
}


/*----------------------- About me ---------------------*/

.title {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #313131;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.title span {
    color: #51a451;
}

.section-item {
    padding: 24px;
    padding-left: 32px;
}

.asset-body {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
}

.split .asset-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}

.item label {
    background-color: #52a59f;
    color: #fff;
    padding: 0 6px;
    border-radius: 4px;
}

.item label span {
    color: #fff;
    letter-spacing: 1px;
}


/*----------------------- Main Domains ---------------------*/

.domains {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: flex-start;
}

.section-item .domain-item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 12px;
    margin: auto;
    transition: width 2s;
}

.section-item .domain-item i {
    width: 48px;
    height: 48px;
    background-color: #52a59f;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.domain-name {
    color: #313131;
    font-weight: bold;
    margin: 16px auto 12px;
}


/*----------------------- Skills---------------------*/

.section-item ul {
    list-style: none;
    margin-top: 16px;
}

.section-item li {
    margin-top: 24px;
    margin-left: 48px;
}

.section-item i {
    color: #52a59f;
    margin-right: 16px;
    display: inline-block;
}

.section-item li.ide i {
    color: #996dcc;
}

.section-item li.ui i {
    color: #cc816c;
}


/*----------------------- Resume---------------------*/

.section-item .title {
    font-size: 1.1rem;
    border: none;
}

.section-sub-item {
    margin-top: 28px;
}

.time {
    color: #78cc6d;
    border: 1px solid;
    padding: 0 6px;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.9rem;
    line-height: 18px;
    margin-bottom: 12px;
}

.item-name {
    color: #313131;
    font-size: 1.2rem;
}

.additional-info {
    margin-bottom: 12px;
    font-size: 0.9rem;
}


/*----------------------- Recent Project ---------------------*/

.asset-body-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.work-item {
    width: 200px;
    margin: 20px;
    display: inline-block;
    cursor: position;
    transition: width 2s;
    transition: margin 2s;
}

.work-item .img-content,
.work-item img {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.4s;
}

.work-item:hover img {
    transform: scale(1.2);
}

.project-name {
    text-align: center;
    color: #313131;
    transition: color 0.4s;
}

.project-name:hover {
    color: #52a59f;
}


/* More info laver*/

.more-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(82, 165, 159, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    /* Hide laver*/
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.work-item:hover .more-overlay {
    opacity: 1;
    height: 100%;
    color: #fff;
}


/*-----------  Responsive Design-----------*/

@media screen and (min-width: 1300px) {
    .main {
        max-width: 800px;
    }
}

@media screen and (max-width: 1300px) {
    .about .asset-body {
        display: block;
    }
    .work-item {
        width: 180px;
        margin: 15px;
        transition: width 2s;
        transition: margin 2s;
    }
}

@media screen and (max-width: 1200px) {
    .work-item {
        width: 156px;
        margin: 10px;
        transition: width 2s;
        transition: margin 2s;
    }
}

@media screen and (max-width: 1100px) {
    .profile {
        min-width: 300px;
        transition: min-height 2s;
    }
    .img-container {
        min-height: 300px;
        transition: min-height 2s;
    }
    .work-item {
        width: 140px;
        margin: 8px;
        transition: width 2s;
        transition: margin 2s;
    }
}

@media screen and (max-width: 1000px) {
    .work-item {
        width: 160px;
        margin: 15px;
        transition: width 2s;
        transition: margin 2s;
    }
    .domain-item {
        width: 160px;
        transition: width 2s;
    }
    .split .asset-body {
        display: block;
    }
    .profile {
        min-width: 290px;
        transition: min-height 2s;
    }
}

@media screen and (max-width: 900px) {
    .work-item {
        width: 35%;
        margin: 5px;
        margin-left: 32px;
    }
    .profile {
        min-width: 260px;
        transition: min-height 2s;
    }
    .img-container {
        min-height: 260px;
        transition: min-height 2s;
    }
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
        display: block;
        overflow: auto;
    }
    .menu {
        width: 260px;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: 18%;
        right: 18%;
        margin: auto;
    }
    .menu-item {
        width: 68px;
        height: 56px;
        font-size: 0.7rem;
    }
    .profile {
        width: 450px;
        transition: min-width 1s;
        margin: auto;
        margin-bottom: 50px;
    }
    .img-container {
        min-height: 400px;
        transition: min-height 2s;
    }
    .main {
        width: 90%;
        margin: auto;
        max-height: 1000vh;
    }
    .work-item {
        width: 40%;
        margin: 15px;
        transition: width 2s;
        transition: margin 2s;
    }
}

@media screen and (max-width: 700px) {
    .profile {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }
    .img-container {
        min-height: 350px;
        transition: min-height 2s;
    }
    .main {
        width: 95%;
        margin: auto;
        max-height: 1000vh;
    }
    .work-item {
        width: 40%;
        margin: 15px;
        transition: width 2s;
        transition: margin 2s;
    }
}

@media screen and (max-width: 600px) {
    .img-container {
        min-height: 300px;
        transition: min-height 2s;
    }
    .work-item {
        width: 40%;
        margin: 10px;
        transition: width 2s;
        transition: margin 2s;
    }
    .domain-item {
        width: 150px;
        transition: width 2s;
    }
}

@media screen and (max-width: 500px) {
    .img-container {
        min-height: 250px;
        transition: min-height 2s;
    }
    .main {
        width: 100%;
        font-size: 0.7rem;
    }
    .work-item {
        width: 40%;
        margin: 15px;
        transition: width 2s;
        transition: margin 2s;
    }
}

@media screen and (max-width: 450px) {
    .menu {
        width: 200px;
    }
    .menu-item {
        font-size: 0.5rem;
        height: 40px;
    }
    .title {
        font-size: 1.2rem
    }
    .main {
        margin: 0px;
        font-size: 0.6rem;
    }
    .section-item {
        padding: 14px;
        padding-left: 12px;
    }
    .domain-item {
        width: 90%;
        transition: width 2s;
    }
    .section-item ul {
        margin-top: 2px;
    }
    .section-item li {
        margin-top: 10px;
        margin-left: 38px;
    }
    .section-item .title {
        font-size: 0.9rem;
    }
    .work-item {
        width: 40%;
        margin: 8px;
        transition: width 2s;
        transition: margin 2s;
    }
}

@media screen and (max-width: 400px) {
    .work-item {
        width: 40%;
        margin: 5px;
        transition: width 2s;
        transition: margin 2s;
    }
}


/*-----------  scrollbar styling -----------*/

body ::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    border: 4px solid #fff;
}
